.roboto{
    font-family: 'Roboto', sans-serif;
}
.center{
    text-align: center;
}
.ul{
    font-weight: bold;
    text-decoration: underline;
}
body{
    background-color: #303e47;
    color: #fffafe;
    font-family: 'Roboto', sans-serif;
    height: auto;
    font-size: 0.85vw;
}
.h1{
    font-size: 5vw;
    font-weight:bold;
    color: #fd5a5e;
}
.h2{
    font-size: 2.45vw;
    font-weight: bold;
}
.h3{
    font-size: 2.15vw;
    font-weight: bold;
}
.h4{
    font-size: 1.75vw;
    font-weight: bold;
}
.h5{
    font-size: 1.35vw;
}
.h6{
    font-size: 1vw;
}
.m{
    font-size: 1.15vw;
}
.ml{
    font-size: 1.35vw;
}
.l{
    font-size: 3.85vw;
    font-weight: bold;
}
.xl{
    font-size: 5vw;
    font-weight:bold;
}

#walk-man{
     border: 2px solid #fffafe;
     background-color: #0cadde;
     border-radius: 25%;
}

.container{
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7{
    margin-bottom: 5vh;
}

.box-1{
    display: flex;
    flex-flow: row;
    align-content:space-around;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 25vw;
}
.child-1a{
    margin-right: .5vw;
    margin-top: -1.5vw;
}
.box-2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 40vh;
    width: 50vw;
}
.child-2a{
    background-color: #ff9e1b;
    width: 25vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.child-2b{
    background-color: #00b2e2;
    width: 25vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.box-3{
    background-color: #ff5959;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 35vh;
    width: 50vw; 
}

.child-3a{
   width: 25vw;
   display: flex;
   align-items: center;
}
.child-3b{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding-right: 2.5vw;
    padding-top: 2vh;
}
.child-3b>span{
    margin-right: 1.25vw;
    margin-bottom: 2.5vh;
}
.child-3c{
    font-size: 1.5em;
    padding: 0 3.5vw;
}

.box-4{
    background-color:#0cadde;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    width: 50vw;
 }
 .child-4a{
     margin-bottom: 3vh;
     width: 25vw;
 }
.child-4b, .child-4c, .child-4d, .child-4e{
 width: 20vw;
 font-size: 1.10vw;
 }

 .box-5{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 45vh;
    width: 50vw;
 }
 .child-5a{
    background-color: #ff595a;
    width: 25vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.child-5b{
    background-color: #ff9e1a;
    width: 25vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.box-6{
    background-color:#0cadde;
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 25vh;
    width: 50vw;
 }
 .child-6a{
     width: 35vw;
     display: flex;
     flex-flow: column;
     justify-content: center;
 }
 .child-6b{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .box-7{
    background-color:#ff9e1a;
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 25vh;
    width: 50vw;
 }
 .child-7a{
     width: 35vw;
     display: flex;
     flex-flow: column;
     justify-content: center;
 }
 .child-7b{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .box-8{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 55vh;
    width: 50vw; 
}
.child-8a{
    background-color:#00b2e2;;
    width: 25vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.child-8b{
    background-color:#ff595a;
    width: 25vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

